body
{
    background-color: rgb(120, 130, 160);
}
h1
{
    text-align: center;
    color: rgb(0, 40, 170);
    font-size: 48pt;
}
section h2
{
    margin: 5px;
    font-size: 28pt;
}
section
{
    border: 4px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
}
ul
{
    font-size: 18pt;
}
nav a
{   
    font-size: 20pt;
    font-weight: bold;
    color:rgb(230, 230, 0)
}
#experience li
{
    border-bottom: 2px solid goldenrod
}
#education h3
{
    border-bottom: 2px solid goldenrod
}
img
{
    border-radius: 50%;
}
